DEBUG=True
DJANGO_SECRET_KEY=change-me-in-local-env
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:3001
DATABASE_URL=postgres://plataforma_psi:plataforma_psi@postgres:5432/plataforma_psi
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CORS_ALLOWED_ORIGINS=http://localhost:3001,http://127.0.0.1:3001
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
FRONTEND_BASE_URL=http://localhost:3001
DEFAULT_FROM_EMAIL=no-reply@plataforma-psi.local
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
DRF_ANON_THROTTLE_RATE=60/min
DRF_USER_THROTTLE_RATE=1000/hour
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
LOG_LEVEL=INFO
MFA_ISSUER=Plataforma PSI
DAILY_API_KEY=
DAILY_API_BASE_URL=https://api.daily.co/v1
DAILY_ROOM_DURATION_MINUTES=180
